Brands/Pods
Brands/Podfile.lock
Brands/Brands.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Brands/Brands.xcodeproj/xcuserdata/Yahia.xcuserdatad/xcschemes/Brands.xcscheme
Brands/Brands.xcodeproj/xcuserdata/Yahia.xcuserdatad/xcschemes/xcschememanagement.plist
